@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.jakarta {
  font-family: "Plus Jakarta Sans", sans-serif;

}

.poppins {
  font-family: "Poppins", sans-serif;

}

body {
  min-height: 100vh;

  background: linear-gradient(180deg, #373E44 -100%, #191B1F 100%);

}

.app {
  background: linear-gradient(180deg, #373E44 -100%, #191B1F 100%);
}

.bar {
  border-radius: 2.459px;
  background: var(--light-glass-fill-10-neutral, linear-gradient(0deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%), linear-gradient(180deg, rgba(40, 40, 40, 0.10) 0%, rgba(248, 248, 248, 0.10) 100%));
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.33);
  backdrop-filter: blur(4.918659687042236px);
  -webkit-backdrop-filter: blur(4.918659687042236px);
}

.box {

  background: #363C43;
  box-shadow: 5.67px 5.67px 3.78px 0px rgba(0, 0, 0, 0.40);
}

.tab-bar {
  background: #171717;

  box-shadow: 0px 4.96px 12.4px 2.48px rgba(0, 0, 0, 0.25) inset;

}

.tab-bar .tabs {
  background: #28292F;
  color: #FFF;
  box-shadow: -8.433px -16.867px 50.6px -16.867px #485B71, 13.493px 16.867px 67.467px 8.433px #0A0A0A;
}

.section {
  color: #969696;

  font-size: 1.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Gallery-button {
  color: #FFF;
  padding: 1vw 2.1vw 1vw 2vw;
  font-size: 1.25vw;
  border-radius: 20px;
  background: #171717;
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25) inset;
}

.add-button {
  padding: 1.3vw 2vw 1vw 2vw;
  color: #FFF;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 0.75vw;
  font-style: normal;
  font-weight: 800;
  line-height: 6.293px;

  border-radius: 20vw;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: -0.5px -0.5px 6.9px 0px rgba(255, 255, 255, 0.25), 9px 10px 7.1px 0px rgba(0, 0, 0, 0.40), 0px 0px 48.906px 0px rgba(255, 255, 255, 0.05) inset, 0px 3.26px 3.26px 0px rgba(255, 255, 255, 0.15) inset;
  -webkit-backdrop-filter: blur(52.27996826171875px);
  backdrop-filter: blur(52.27996826171875px);
}


.arrow {
  background: linear-gradient(139deg, #303439 12.4%, #161718 94.96%);

  filter: drop-shadow(4px 5px 30px #101213) drop-shadow(-2px -2px 10px #96bee778);
}